.buttonsContainer {
    display: flex;

    margin: 20px 0;

    gap: 40px;
}

.responseContainer {
    display: flex;
    margin-top: 100px;

    gap: 100px;
}

.imageContainer {
    display: flex;
}

.image {
    width: 450px;
    height: 200px;
}

.textContainer{
    display: flex;
    flex-direction: column;

    row-gap: 12px;
}

.code {
    font-size: 30px;
    font-weight: 500;
}

.text {
    font-size: 16px;
    font-weight: 500;
}

.info {
    font-size: 16px;
    font-weight: 500;
}