.button {
    color: white;
    background-color: #0066cc;
}

.disabled {
    background-color: #00cc22;
}

.secondary {
    background-color: white;
}

.default {
    background-color: #0066cc;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
