.button {
    min-width: 100px;
    min-height: 50px;
    padding: 10px;

    color: white;
    border: 0;
    border-radius: 5px;
    background-color: #0066cc;
}

.disabled {
    opacity: 50%;
}

.secondary {
    color: #0066cc;
    background-color: white;
    border: 2px solid #0066cc;
}

.default {
    background-color: #0066cc;
}

.red {
    background-color: red;
}

.default:hover {
    background-color: #004992;
}

.red:hover {
    background-color: #ac1800;
}

.secondary:hover {

}


.default:active {

}

.secondary:active {

}

.red:active {

}
